In [1]:
import pandas as pd
df=pd.read_csv('batting.csv')
df.head()

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St
0,rohit sharma,65.0,113.0,10.0,4279.0,212,41.54,7466.0,57.31,12.0,18.0,471.0,88.0,66.0,0.0
1,abhimanyu easwaran,10.1,17.3,1.6,767.4,23.3,48.87,1427.9,53.74,2.7,2.9,87.4,3.0,7.1,0.0
2,yashasvi jaiswal,16.0,30.0,1.0,1592.0,214*,54.89,2343.0,67.94,4.0,8.0,182.0,38.0,16.0,0.0
3,dhruv jurel,4.0,6.0,1.0,202.0,90,40.40,380.0,53.15,0.0,1.0,14.0,7.0,6.0,2.0
4,sarfaraz khan,6.0,11.0,1.0,371.0,150,37.10,495.0,74.94,1.0,3.0,44.0,8.0,3.0,0.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   10 non-null     object
 1   Matches  10 non-null     float64
 2   Innings  10 non-null     float64
 3   NO       10 non-null     float64
 4   Runs     10 non-null     float64
 5   HS       10 non-null     object
 6   Average  10 non-null     float64
 7   BF       10 non-null     float64
 8   Sr       10 non-null     float64
 9   100s     10 non-null     float64
 10  50s      10 non-null     float64
 11  4s       10 non-null     float64
 12  6s       10 non-null     float64
 13  Ct       10 non-null     float64
 14  St       10 non-null     float64
dtypes: float64(13), object(2)
memory usage: 1.3+ KB

In [3]:
df['HS']=df['HS'].str.split('*').str[0]
df.head()

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St
0,rohit sharma,65.0,113.0,10.0,4279.0,212,41.54,7466.0,57.31,12.0,18.0,471.0,88.0,66.0,0.0
1,abhimanyu easwaran,10.1,17.3,1.6,767.4,23.3,48.87,1427.9,53.74,2.7,2.9,87.4,3.0,7.1,0.0
2,yashasvi jaiswal,16.0,30.0,1.0,1592.0,214,54.89,2343.0,67.94,4.0,8.0,182.0,38.0,16.0,0.0
3,dhruv jurel,4.0,6.0,1.0,202.0,90,40.40,380.0,53.15,0.0,1.0,14.0,7.0,6.0,2.0
4,sarfaraz khan,6.0,11.0,1.0,371.0,150,37.10,495.0,74.94,1.0,3.0,44.0,8.0,3.0,0.0

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
weights={'Matches':0.2,'Average': 0.2,'HS':0.1,'NO':0.2,'100s':0.2,'50s':0.1}
scaler=MinMaxScaler()
normalized_data = scaler.fit_transform(df[['Matches','Average', 'HS','NO','100s','50s']])
df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average', 'HS','NO','100s','50s'])
df['Weighted Score'] = (
    df_normalized['Matches'] * weights['Matches'] +
    df_normalized['Average'] * weights['Average'] +
    df_normalized['HS'] * weights['HS'] +
    df_normalized['NO'] * weights['NO'] +
    df_normalized['100s'] * weights['100s'] +
    df_normalized['50s'] * weights['50s']
)

In [6]:
df

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St,Weighted Score
0,rohit sharma,65.0,113.0,10.0,4279.0,212,41.54,7466.0,57.31,12.0,18.0,471.0,88.0,66.0,0.0,0.571815
1,abhimanyu easwaran,10.1,17.3,1.6,767.4,23.3,48.87,1427.9,53.74,2.7,2.9,87.4,3.0,7.1,0.0,0.214305
2,yashasvi jaiswal,16.0,30.0,1.0,1592.0,214,54.89,2343.0,67.94,4.0,8.0,182.0,38.0,16.0,0.0,0.371775
3,dhruv jurel,4.0,6.0,1.0,202.0,90,40.40,380.0,53.15,0.0,1.0,14.0,7.0,6.0,2.0,0.131254
4,sarfaraz khan,6.0,11.0,1.0,371.0,150,37.10,495.0,74.94,1.0,3.0,44.0,8.0,3.0,0.0,0.147468
5,virat kohli,120.0,205.0,13.0,9163.0,254,47.72,16396.0,55.88,30.0,31.0,1022.0,30.0,116.0,0.0,0.942387
6,devdutt padikkal,2.0,3.0,0.0,90.0,65,30.00,197.0,45.68,0.0,1.0,12.0,1.0,2.0,0.0,0.018075
7,rishabh pant,40.0,70.0,5.0,2780.0,159,42.76,3720.0,74.73,6.0,14.0,306.0,68.0,134.0,15.0,0.386015
8,kl rahul,55.0,95.0,3.0,3128.0,199,34.00,5941.0,52.65,8.0,16.0,374.0,26.0,68.0,0.0,0.347619
9,shubman gill,30.0,56.0,5.0,1859.0,128,36.45,3077.0,60.41,5.0,7.0,206.0,31.0,24.0,0.0,0.274926

In [7]:
largest=df.nlargest(5,'Weighted Score')
largest

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St,Weighted Score
5,virat kohli,120.0,205.0,13.0,9163.0,254,47.72,16396.0,55.88,30.0,31.0,1022.0,30.0,116.0,0.0,0.942387
0,rohit sharma,65.0,113.0,10.0,4279.0,212,41.54,7466.0,57.31,12.0,18.0,471.0,88.0,66.0,0.0,0.571815
7,rishabh pant,40.0,70.0,5.0,2780.0,159,42.76,3720.0,74.73,6.0,14.0,306.0,68.0,134.0,15.0,0.386015
2,yashasvi jaiswal,16.0,30.0,1.0,1592.0,214,54.89,2343.0,67.94,4.0,8.0,182.0,38.0,16.0,0.0,0.371775
8,kl rahul,55.0,95.0,3.0,3128.0,199,34.00,5941.0,52.65,8.0,16.0,374.0,26.0,68.0,0.0,0.347619

In [8]:
df2=pd.read_csv('bowling.csv')
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w
0,jasprit bumrah,42,81,8046,3694,185,6/27,9/86,19.96,2.75,43.4,6,11,0
1,akash deep,5,8,414,258,10,3/83,3/63,25.80,3.73,41.4,0,0,0
2,harshit rana,2,3,270,203,4,3/48,4/117,50.75,4.51,67.5,0,0,0
3,mohammed siraj,33,61,4680,2629,89,6/15,8/126,29.53,3.37,52.5,6,3,0
4,prasidh krishna,2,3,168,130,2,1/27,1/37,65.00,4.64,84.0,0,0,0

In [9]:
df2['WpM']=df2['Wickets']/df2['Matches']
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM
0,jasprit bumrah,42,81,8046,3694,185,6/27,9/86,19.96,2.75,43.4,6,11,0,4.404762
1,akash deep,5,8,414,258,10,3/83,3/63,25.80,3.73,41.4,0,0,0,2.000000
2,harshit rana,2,3,270,203,4,3/48,4/117,50.75,4.51,67.5,0,0,0,2.000000
3,mohammed siraj,33,61,4680,2629,89,6/15,8/126,29.53,3.37,52.5,6,3,0,2.696970
4,prasidh krishna,2,3,168,130,2,1/27,1/37,65.00,4.64,84.0,0,0,0,1.000000

In [10]:
weights2={'Matches':0.2,'Economy': 0.2,'WpM':0.4,'5w':0.2}
scaler=MinMaxScaler()
normalized_data2 = scaler.fit_transform(df2[['Matches','Economy','WpM','5w']])
df_normalized2 = pd.DataFrame(normalized_data2, columns=['Matches','Economy','WpM','5w'])
df_normalized2['Economy']=1-df_normalized2['Economy']
df2['Weighted Score'] = (
    df_normalized2['Matches'] * weights2['Matches'] +
    df_normalized2['Economy'] * weights2['Economy'] +
    df_normalized2['WpM'] * weights2['WpM'] +
    df_normalized2['5w'] * weights2['5w']
)

In [11]:
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM,Weighted Score
0,jasprit bumrah,42,81,8046,3694,185,6/27,9/86,19.96,2.75,43.4,6,11,0,4.404762,1.000000
1,akash deep,5,8,414,258,10,3/83,3/63,25.80,3.73,41.4,0,0,0,2.000000,0.228779
2,harshit rana,2,3,270,203,4,3/48,4/117,50.75,4.51,67.5,0,0,0,2.000000,0.131239
3,mohammed siraj,33,61,4680,2629,89,6/15,8/126,29.53,3.37,52.5,6,3,0,2.696970,0.543301
4,prasidh krishna,2,3,168,130,2,1/27,1/37,65.00,4.64,84.0,0,0,0,1.000000,0.000000

In [12]:
bowlers=df2.nlargest(3,'Weighted Score')
bowlers

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM,Weighted Score
0,jasprit bumrah,42,81,8046,3694,185,6/27,9/86,19.96,2.75,43.4,6,11,0,4.404762,1.000000
3,mohammed siraj,33,61,4680,2629,89,6/15,8/126,29.53,3.37,52.5,6,3,0,2.696970,0.543301
1,akash deep,5,8,414,258,10,3/83,3/63,25.80,3.73,41.4,0,0,0,2.000000,0.228779

In [13]:

def findBatsmen(n):
    import pandas as pd
    df=pd.read_csv('batting.csv')
    df['HS']=df['HS'].str.split('*').str[0]
    weights={'Matches':0.2,'Average': 0.2,'HS':0.1,'NO':0.2,'100s':0.2,'50s':0.1}
    scaler=MinMaxScaler()
    normalized_data = scaler.fit_transform(df[['Matches','Average', 'HS','NO','100s','50s']])
    df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average', 'HS','NO','100s','50s'])
    df['Weighted Score'] = (
        df_normalized['Matches'] * weights['Matches'] +
        df_normalized['Average'] * weights['Average'] +
        df_normalized['HS'] * weights['HS'] +
        df_normalized['NO'] * weights['NO'] +
        df_normalized['100s'] * weights['100s'] +
        df_normalized['50s'] * weights['50s']
    )
    batsmen=df.nlargest(n,'Weighted Score')
    bat=batsmen['Player'].to_numpy()
    return bat


def findBowler(n):
    import pandas as pd
    df2=pd.read_csv('bowling.csv')
    df2['WpM']=df2['Wickets']/df2['Matches']
    weights2={'Matches':0.2,'Economy': 0.2,'WpM':0.4,'5w':0.2}
    scaler=MinMaxScaler()
    normalized_data2 = scaler.fit_transform(df2[['Matches','Economy','WpM','5w']])
    df_normalized2 = pd.DataFrame(normalized_data2, columns=['Matches','Economy','WpM','5w'])
    df_normalized2['Economy']=1-df_normalized2['Economy']
    df2['Weighted Score'] = (
        df_normalized2['Matches'] * weights2['Matches'] +
        df_normalized2['Economy'] * weights2['Economy'] +
        df_normalized2['WpM'] * weights2['WpM'] +
        df_normalized2['5w'] * weights2['5w']
    )
    bowlers=df2.nlargest(n,'Weighted Score')
    return bowlers['Player'].to_numpy()
    
    
def findAllrounder(n):
    import pandas as pd
    df=pd.read_csv('allRounder.csv')
    df['HS']=df['HS'].str.split('*').str[0]
    try:
        df['Wickets']=df['Wickets'].str.split('*').str[0]
    except:
        print("error ignored...")
        
    df['Wickets']=df['Wickets'].astype(int)
    # print(df['Wickets'])
    df['WpM']=df['Wickets']/df['Matches']
    weights={'Matches':0.05,'Average': 0.25,'100s':0.15,'50s':0.05,'Economy':0.15,'WpM':0.25,'5w':0.1}
    scaler=MinMaxScaler()
    normalized_data = scaler.fit_transform(df[['Matches','Average','100s','50s','Economy','WpM','5w']])
    df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average','100s','50s','Economy','WpM','5w'])
    df_normalized['Economy']=1-df_normalized['Economy']
    df['Weighted Score'] = (
        df_normalized['Matches'] * weights['Matches'] +
        df_normalized['Average'] * weights['Average'] +
        df_normalized['100s'] * weights['100s'] +
        df_normalized['Economy'] * weights['Economy'] +
        df_normalized['WpM'] * weights['WpM'] +
        df_normalized['5w'] * weights['5w'] 
    )
    allRounder=df.nlargest(n,'Weighted Score')
    middleOrder=allRounder['Player'].to_numpy()
    return middleOrder

In [14]:
import numpy as np
def makeTeam(n1,n2,n3):
    top=findBatsmen(n1)
    bottom=findBowler(n2)
    middle=findAllrounder(n3)
    team=np.append(top,middle)
    team=np.append(team,bottom)
    return team

* TODO
* Find a way to predict number of batsman, bowler and all rounder
* expand this idea to odis and T20s doneeeee
* Come up with more techniques to increase accuracy..

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
df=pd.read_csv('teamData.csv')
df.head()

  Team Venue  Batters  Bowlers  AllRounders
0  RSA   RSA        5        4            2
1  IND   RSA        4        4            3
2   NZ    NZ        5        3            3
3  ENG    NZ        5        3            3
4  AUS   AUS        5        4            2

In [29]:
X=df[['Team','Venue']]
y=df[['Batters','Bowlers','AllRounders']]

X=pd.get_dummies(X) #red hot encoding..
X.columns

Index(['Team_AUS', 'Team_BAN', 'Team_ENG', 'Team_IND', 'Team_NZ', 'Team_PAK',
       'Team_RSA', 'Team_SL', 'Team_WI', 'Venue_AUS', 'Venue_BAN', 'Venue_ENG',
       'Venue_IND', 'Venue_NZ', 'Venue_PAK', 'Venue_RSA', 'Venue_WI'],
      dtype='object')

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,shuffle=True)
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [22]:
from joblib import dump, load

dump(model, 'teamPrediction.joblib')
print("Saved!!")

Saved!!

In [18]:
prediction=model.predict(X_test)
prediction[:5],y_test[:5]

(array([[6, 3, 2],
        [5, 4, 2],
        [6, 3, 2],
        [6, 3, 2],
        [6, 4, 1]]),
      Batters  Bowlers  AllRounders
 147        6        4            1
 9          5        3            3
 18         7        3            1
 104        5        4            2
 16         6        3            2)

In [24]:
new_match = pd.DataFrame({'Venue': ['AUS'], 'Team': ['IND']})
new_match = pd.get_dummies(new_match).reindex(columns=X.columns, fill_value=0)
loaded_model = load('teamPrediction.joblib')
predictions = loaded_model.predict(new_match)
# print(predictions)
# predicted_batsmen = model.predict(new_match)
team=makeTeam(predictions[0][0],predictions[0][1],predictions[0][2])
team

array(['virat kohli', 'rohit sharma', 'rishabh pant', 'yashasvi jaiswal',
       'kl rahul', 'shubman gill', 'nitish kumar', 'ravindra jadeja',
       'jasprit bumrah', 'mohammed siraj', 'akash deep'], dtype=object)

In [28]:
X.columns

Index(['Team_AUS', 'Team_BAN', 'Team_ENG', 'Team_IND', 'Team_NZ', 'Team_PAK',
       'Team_RSA', 'Team_SL', 'Team_WI', 'Venue_AUS', 'Venue_BAN', 'Venue_ENG',
       'Venue_IND', 'Venue_NZ', 'Venue_PAK', 'Venue_RSA', 'Venue_WI'],
      dtype='object')